.grisClaro {
    background-color: #B8BBCA;
}

.grisOscuro {
    background-color: #b8bbca9f;
}

.lilaClaro {
    background-color: #8E72D7;

}

.blacoClaro {
    background-color: #E1E3E2;
}

.otros {
    color: #CDD2D8;
    color: #C2C6CF;
}