body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #E9EBEA;
  background-image: url('./assets/grietaBody.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* Puedes ajustar esto según tus necesidades */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  height: 70px;
  max-height: auto;
  /* background-color: #B8BBCA; */
  background: linear-gradient(to bottom, #CDD2D8, #D3D8DE, #BFC3CC);
  box-shadow: 0px 3px 30px #8E72D7;
}

.imgNavbar1 {
  height: 60px;
  margin-right: 30px;
  box-shadow: 0px 5px 10px -5px #E0E5EB, 0px -5px 10px -5px #E0E5EB,
}

.imgNavbar2 {
  height: 90px;
  width: 300px;
}

.navbarText {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 4px 15px #8E72D7;
}

/*---------- Button que titila ------------ */

.whoButton {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  background-color: rgba(156, 161, 160, 0.3);
  animation: glow 2s infinite;
  transition: 0.5s;
  color: white;
  margin: 10px
}

.whoSpan {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 17px;
  transition: 0.3s;
  opacity: 1;
  /* Cambiado de 0 a 1 */
}

.whoButton:hover .whoSpan {
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
  color: white;
}

.whoButton:hover {
  transform: translatey(10px);
  border-radius: 50px;
  background-color: #c3bacc;
  transition: 0.5s;
}

@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px #8E72D7, -5px -5px 20px #8E72D7;
  }

  50% {
    box-shadow: 5px 5px 20px #B8BBCA, -5px -5px 20px #B8BBCA
  }

  100% {
    box-shadow: 5px 5px 20px #8E72D7, -5px -5px 20px #8E72D7
  }
}

/*---------------------------------------- */